<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="../../index.html"><img src="~/CoronaTemplate/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="~/CoronaTemplate/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/CoronaTemplate/template/assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Admin</h5>
                        <span>Administrator</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Hesabım</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Şifre Sıfırla</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">MENÜ</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Portfolio" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-midi-port"></i>
                </span>
                <span class="menu-title">Portfolio</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Feature" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-hand"></i>
                </span>
                <span class="menu-title">Öne Çıkan Yazı</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="About" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-car-brake-abs"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="MyService" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-server-network"></i>
                </span>
                <span class="menu-title">Hizmetlerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Experiences" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Deneyimler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Skills" asp-action="Index">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Yetenekler</span>
            </a>
        </li>
    </ul>
</nav>