
@{
    ViewData["Title"] = "Yetenekler";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Oran</th>
        <th>Düzenle</th>
        <th>Kaldır</th>
    </tr>
    <tr>
        <td>1</td>
        <td>C#</td>
        <td>65%</td>
        <td><a class="btn btn-primary" href="">Düzenle</a></td>
        <td><a class="btn btn-danger" href="">Kaldır</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>SQL</td>
        <td>56%</td>
        <td><a class="btn btn-primary" href="">Düzenle</a></td>
        <td><a class="btn btn-danger" href="">Kaldır</a></td>
    </tr>
</table>