@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("AdminLayoutHeadComponentPartial")
@RenderSection("Styles", false);
<body>
    <div class="container-scroller">
        @await Component.InvokeAsync("AdminLayoutSidenavComponentPartial")
        <div class="container-fluid page-body-wrapper">
            @await Component.InvokeAsync("AdminLayoutNavbarComponentPartial")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Component.InvokeAsync("AdminLayoutFooterComponentPartial")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("AdminLayoutScriptsComponentPartial")
    @RenderSection("Scripts", false);
</body>
</html>