@model MyService
@{
    ViewData["Title"] = "Yeni Hizmet";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-header">
    <a class="btn btn-primary mx-3" asp-area="" asp-controller="MyService" asp-action="Index">Geri Dön</a>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="MyService" asp-action="Index">Hizmetlerim</a></li>
            <li class="breadcrumb-item active" aria-current="page">Yeni Hizmet</li>
        </ol>
    </nav>
</div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Hizmet</h4>
            <form class="forms-sample" asp-area="" asp-controller="MyService" asp-action="CreateMyService" method="post">
                <div class="form-group row">
                    <label asp-for="Title" class="col-sm-3 col-form-label">Başlık</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Title" placeholder="Başlık">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ImageUrl" class="col-sm-3 col-form-label">Görsel</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Görsel">
                    </div>
                </div>
                <div class="form-group row justify-content-end align-items-end mr-0">
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>