<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CorePortfolio Admin</title>
    @await Component.InvokeAsync("AdminLayoutStylesComponentPartial")
</head>