<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CorePortfolio, ASP.NET CORE MVC, .NET 6">
    <meta name="author" content="Orçun Aşık">
    <title>@ViewData["Title"] - CorePortfolio</title>
    @await Component.InvokeAsync("AdminLayoutStylesComponentPartial")
</head>